.navbar{
	
	background-color:rgba(0,0,0,0.3);
	
}

.navbar .navbar-collapse .navbar-nav .nav-item{
	padding:0;
}

.rightborder{
	border-right:1px solid rgba(100,100,100,0.3);
	
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link{
	color:white;
	font-size:1.2em;
	padding: 5px 35px 10px 35px;
}

.navbar .navbar-brand{
	color:white;
}

.navbar .navbar-toggler{
	background-color:darkgray;
}

.main .album .container .row {
	background-color:rgba(80,80,80,1);
	padding: 20px 5px;
}

a.active{
	background-color:red;
	background-color:rgba(100,50,50,.3);
}

div.main{
	background-color:black;
}

div.album{
	
	background-image: url('../img/horizontalline.png');
	background-repeat: no-repeat;
  	background-position: center bottom;
  	background-size:100%;
}

div.card{
	background-color:rgba(80,80,80,1);
	border:0;
	height:300px;
	color:white;
}



div.container{
	max-width: 100%;
	width:100%;
}

#custCarousel .carousel-item img{
	max-width:60%;
	height:auto;
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px
}

#custCarousel .carousel-indicators>li {
    width: 100px
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5
}

#custCarousel .carousel-indicators li.active img {
    opacity: 1
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  //border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black                        ;
}